@mixin media-query($width) {
    @media only screen and (min-width: $width) {
      @content;
    }
  }

  @mixin flex-alignment($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }
  

.event-details {

    margin-top: 5rem;

    @include media-query($tablet-width){
        @include flex-alignment(row, space-evenly , flex-start);
    }

  .about-event {

    @include media-query($tablet-width){
        width: 50%;
    }

    h2 {
      font-size: 1.5rem;
      color: $tomato-orange;
      text-decoration: underline;
    }

    
  }

  .other-details {

    @include media-query($tablet-width){
        width: 40%;
    }

      .title {
        font-size: 1rem;
        color: $tomato-orange;
        text-decoration: underline;
        font-weight: bold;
      }
  }
}
