@mixin flex-alignment($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin media-query($width) {
  @media only screen and (min-width: $width) {
    @content;
  }
}

@mixin max-media-query($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

.filters {
  position: relative;
  top: 4rem;
  margin-bottom: 4rem;

  @include flex-alignment(row, space-evenly, flex-start);

  @include max-media-query(595px) {
    flex-wrap: wrap;
    width: 100%;
    height: 10rem;
    min-width: 250px;
  }

  @include media-query($tablet-width) {
    height: 5rem;
    overflow: visible;
    padding-left: 1rem;
  }

  .date-dropdown {
    background-color: $gray;
    border: 2px solid $sm-border;
    outline: none;
    font-weight: bold;
    margin: 0.5rem;
  }
}
