@mixin flex-alignment($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }

.filters {
    position: relative;
    top: 5rem;
    @include flex-alignment(row, space-evenly, center);
    margin-bottom: 8rem;
    height: 5rem;

    .date-dropdown {
        background-color: $gray;
        border: 2px solid $sm-border;
        outline: none;
        font-weight: bold;
    }
}