footer {
  position: relative;
  margin-top: 4rem;

  .top-footer {
    background-color: $black;
    text-align: center;
    padding: 3rem;
    color: $white;

    .subscribe {
      margin-bottom: 2rem;

      input {
        background-color: $black;
        color: $white;
        border: 1px solid $white;
      }
    }

    .contact-us ul {
      list-style: none;
    }
  }

  .bottom-footer {
    background-color: $footer-gray;
    color: $white;
    text-align: center;

    .social-media {
      display: flex;
      list-style: none;
      width: 70%;
      margin: 0 auto;
      justify-content: space-between;
      padding: 1rem;

      li {
        border: 3px solid $black;
        width: 3rem;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:hover {
          background-color: $tomato-orange;
          border: 2px solid $tomato-orange;
        }

        a {
          color: white;
        }
      }
    }
  }
}
