.homepage-events {
  position: relative;
  top: 4rem;

  @include media-query($tablet-width) {
    top: 2rem;

    .events-near-me {
      display: grid;
      grid-template: 1fr 1fr/1fr 1fr;
      grid-template-areas:
        "card1 card2"
        "card3 card4";
    }

    .about-item {
      width: 50%;
    }
  }

  .event {
    width: 90%;
    margin: 2rem auto;

    .view-event {
      border: 4px solid $tomato-orange;
      text-decoration: none;
      padding: 0.3rem 1.3rem;
      font-weight: bold;
      background-color: $tomato-orange;
      color: $white;
    }

    .view-event:hover {
      background-color: $white;
      color: $blue-sky;
    }
  }

  h3 {
    font-size: 1.5rem;
    margin: 1.5rem;
    color: $tomato-orange;
    text-decoration: underline;

    i {
      font-size: 1.2rem;
    }
  }
}
